<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CanvassHelp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CanvassHelp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light sticky-top navbar-expand-md navbar-shrink py-3" id="mainNav" style="background: #023E73;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index" style="color: rgb(255,255,255);">CanvassHelp</a>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a class="nav-link active" href="/" style="color: rgb(242,112,82);">Main Menu</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Groupings/Index" style="color: var(--bs-gray-100);">Address Groups</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Addresses/Index" style="color: var(--bs-gray-100);">Addresses</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Residents/Index" style="color: var(--bs-gray-100);">Residents</a></li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header><br/>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container py-2 py-lg-5">
            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0">&copy; 2024 <a asp-area="" asp-page="/Index">CanvassHelp</a></p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>