@page
@{
    ViewData["Title"] = "Error 401";
}

<div class="text-center">
    <h1 class="display-4">CanvassHelp Web Application</h1>
</div>

<div class="d-flex align-items-center justify-content-center vh-50">
    <div class="text-center">
        <h1 class="display-1 fw-bold">401</h1>
        <p class="fs-3"> <span class="text-danger">Oops!</span> Access Not Authorised</p>
        <p class="lead">
            The page you’re looking for cannot be accessed.
        </p>
        <a href="/Index" class="btn btn-primary">Main Menu</a>
    </div>
</div>