@page
@model IndexModel
@{
    ViewData["Title"] = "Main Menu";
}

<div class="text-center">
    <h1 class="display-4">CanvassHelp Web Application</h1>
    <h2>Main Menu</h2>
</div>

<section>
    <ol class="list-group text-center">
        <li class="list-group-item">
            <a class="btn btn-primary shadow" role="button" href="/ResidentInput"
               style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);">Record Conversation</a><br/>
            Record Your Interactions with Residents
        </li>
        <li class="list-group-item">
            <a class="btn btn-primary shadow" role="button" asp-area="Identity" asp-page="/Account/Login"
               style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);">Login</a><br/>
            Access Your Account
        </li>
        <li class="list-group-item">
            <a class="btn btn-primary shadow" role="button" href="/Admin"
               style="background: #567b92;border-style: none;border-color: var(--bs-navbar-hover-color);">Admin Portal</a><br/>
            Undertake Administrative Tasks
        </li>
    </ol>
</section>